# Python
*.pyc
*.pyo
__pycache__/*
.ipynb_checkpoints/*
.coverage

# Dask
dask-worker-space/
*scheduler_info.json

# MuJoCo
mjkey.txt
MUJOCO_LOG.TXT
mujocopy-buildlock

# Results
results
results_optbench
checkpoints/*
logs/*
slurm_logs/*
local_logs/*
*.log

# Editor
.vscode/*
.*.swp
*.vim

# Miscellaneous
.env
ipp_nodes.txt
.DS_Store
quicksilver_config.json
.fossa.yml
env/

# Figures
metrics.pdf
compare_evals.pdf
clustering_demo.svg
comparison/
comparison_high_res/
comparison_alpha/
comparison_optbench/
results_table.tex
results_table_alpha.tex
results_table_optbench.tex
results_table_robust.tex
results_table_alpha_robust.tex
results_single_table.tex
results_single_table_alpha.tex
results_single_table_optbench.tex
results_single_table_robust.tex
results_single_table_alpha_robust.tex
manifest.yaml
manifest_optbench.yaml
min_manifest.yaml
stats_tests/
stats_tests.tex
stats_tests_optbench/
stats_tests_robust/
stats_tests_alpha_robust/
heatmap_figure*.pdf
heatmap_figure*.svg
heatmap_video*.mp4
heatmap_video/
histogram_figure*.pdf
histogram_figure*.svg
histogram_video*.mp4
histogram_video/
figure_data/
figure_data*.json

# Singularity
*.sif
